<form class="form-horizontal tab-form" ng-controller="DocsCtrl" ng-submit="save()">
  <div ng-repeat="message in docs.messages" ng-class="message.type" ng-model="messages"></div>
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10" ng-switch on="editable">
        <input name="name" ng-switch-when="true" class="form-control" type="text" ng-model="docs.name" placeholder="My api"/>
        <pre ng-switch-when="false">{{docs.name}}</pre>
    </div>
  </div>
  <div class="form-group">
    <label for="query" class="col-sm-2 control-label">Description</label>
    <div class="col-sm-10" ng-switch on="editable">
        <textarea name="description" ng-switch-when="true" rows="10" class="form-control" ng-model="docs.description"></textarea>
        <pre ng-switch-when="false">{{docs.description}}</pre>
    <!-- p class="help-block">Example block-level help text here.</p -->
    </div>
  </div>
  <div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <span  ng-switch on="editable">
    <button type="submit" ng-switch-when="true" type="button" class="btn btn-success">Save</button>
    <a href="#/basil/{{docs.id}}/docs" ng-switch-when="true" type="button" class="btn btn-default">Cancel</a>
    <a href="#/basil/{{docs.id}}/docs:edit" ng-switch-when="false" type="button" name="editable" class="btn btn-default">Edit</a>
    </span>
  </div>
  </div>
</form>
