<form class="form-horizontal tab-form" ng-controller="SpecCtrl" ng-submit="save()">
  <div ng-repeat="message in spec.messages" ng-class="message.type" ng-model="messages"></div>
  <div class="form-group">
    <label for="endpoint" class="col-sm-2 control-label">SPARQL Endpoint</label>
    <div class="col-sm-10" ng-switch on="editable">
        <input name="endpoint" ng-switch-when="true" class="form-control" type="text" ng-model="spec.endpoint" placeholder="http://dbpedia.org/sparql"/>
        <pre ng-switch-when="false">{{spec.endpoint}}</pre>
    </div>
  </div>
  <div class="form-group">
    <label for="query" class="col-sm-2 control-label">Query</label>
    <div class="col-sm-10" ng-switch on="editable">
        <textarea name="query" ng-switch-when="true" rows="10" class="form-control" ng-model="spec.query"></textarea>
        <pre ng-switch-when="false">{{spec.query}}</pre>
    <!-- p class="help-block">Example block-level help text here.</p -->
    </div>
  </div>
  <div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <span  ng-switch on="editable">
    <button type="submit" ng-switch-when="true" type="button" class="btn btn-success">Save</button>
    <a href="#/basil/{{spec.id}}/spec" ng-switch-when="true" type="button" class="btn btn-default">Cancel</a>
    <a href="#/basil/{{spec.id}}/spec:edit" ng-switch-when="false" type="button" name="editable" class="btn btn-default">Edit</a>
    </span>
  </div>
  </div>
</form>
