<div class="row">
    <div class="col-lg-12">
      <div class="pesto-toolbar">
          <div class="btn-group">
            <a class="btn btn-xl btn-danger" href="#/new"><span class="glyphicon glyphicon-leaf"></span></a>
          </div>
       </div>
    </div>
</div>

<div  class="list-group pesto-api-list">
  <div ng-repeat="api in list" class="list-group-item">
    <span class="pull-right">
      <a class="btn btn-xs btn-info" href="#/basil/{{api.id}}">
        <span class="glyphicon glyphicon-wrench"></span>
      </a>
      <a class="btn btn-xs btn-warning" href="{{api.location}}/api-docs">
        <span class="glyphicon glyphicon-play"></span>
      </a>
    </span>
    <a href="#/basil/{{api.id}}"><h4 class="list-group-item-heading"><span class="label label-success">{{api.id}}</span> {{api.name}} <small ng-if="api.createdBy"> Posted by {{api.createdBy}}</small></h4></a>
   </div>
</div>

<div class="row">
    <div class="col-lg-12">
      <div class="pesto-toolbar">
          <div class="btn-group">
            <a class="btn btn-xl btn-danger" href="#/new"><span class="glyphicon glyphicon-leaf"></span></a>
          </div>
       </div>
    </div>
</div>