<h2>Login</h2>
<form class="form-horizontal tab-form" novalidate ng-submit="login(user, userForm.$valid)" name="userForm">
  <div class="form-group">
    <label for="username" class="col-sm-5 control-label">Username</label>
    <div class="col-sm-3" >
        <input required name="username" class="form-control" type="text" ng-model="user.username" placeholder=""/>
    </div>
  </div>
  <div class="form-group">
    <label for="password" class="col-sm-5 control-label">Password</label>
    <div class="col-sm-3" >
        <input required name="password" class="form-control" type="password" ng-model="user.password" />
    </div>
  </div>
  <div class="form-group">
  <div class="col-sm-offset-5 col-sm-3">
    <button ng-disabled="userForm.$invalid" type="submit" type="button" class="btn btn-success">Login</button>
    <a href="#/signup" type="button" class="btn btn-danger">Sign Up</a>
  </div>
  </div>
</form>
