/* basil css stylesheet */

.navbar-brand{
	width: 100%;
}
.navbar-brand,
.pesto-footer{
	font-family: "Josefin Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	text-align: center;
}

.pesto-toolbar{
	text-align: center;
	margin-bottom: 20px;
}

.pesto-footer{
	margin: 10px 0px;
	padding: 10px 0px;
	border-top: 1px solid #ccc; 
}
.navbar-inverse {
    
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
	
} 
.navbar-inverse .navbar-nav .navbar-brand{
    font-size: 2em;
    color: green;
}
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }